################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KopLibrary/v15/Server/sqlite3
/.vs/KopLibrary
